# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/

# Unit test
.tox/
.nox/
.coverage
.pytest_cache/

# Translations
*.mo
*.pot

# Environments
.env
.venv
env/
venv/
ENV/

# Logs
*.log
*.pot

# Project-specific
config.json
mouflopening.db
downloads_history.json
downloads/
*.mp3
.DS_Store
